<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fons van der Plas</title>

	<style type="text/css">

		body {
			text-align: center;
            width: 400px;
		}

	</style>

</head>
<body>
	<img src="~/Content/doggoSmall.jpg" alt="doggos" /><br />
    <br />
	<strong>Fons van der Plas</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>fonsvdplas@gmail.com</i>
    <br />
    <p>
        &nbsp;</p>
    Server time: @((Int32)(DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)
</body>
</html>
